<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Lovers</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main">
    <header class="header">
        <a href="#" class="logo">Anime Lovers</a>
        <nav class="navbar">
            <a href="./login">Login</a>
            <a href="./signup">Register</a>
        </nav>
    </header>

    <div class="welcome">
        <h1>Welcome to Anime Lovers website</h1>
        <h3>Here you find everything related with animes</h3>
        <h3>Join us and enjoy the most beautiful anime <br> news and timings of new episodes</h3>
        <br>
        <a href="./login"><button>Join Now</button></a>
        
    </div>
</div>
</body>
</html>